@use "./element/index.scss";
@use "./element/dark.scss";

:root {
  font-family: "LXGW WenKai GB Screen R", "LXGW WenKai Screen", Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--ep-color-primary);
}

code {
  padding: 2px 4px;
  color: var(--ep-color-primary);
  background-color: var(--ep-color-primary-light-9);
  border-radius: 2px;
}

